@media screen and (max-width: 1050px) {
    .topbar {
        .top-text {
            font-size: 5rem;
            word-spacing: normal;
        }
    }

    h3 {
        font-size: 2rem;
    }
}


@media screen and (max-width: 900px) {
    .topbar {
        .top-text {
            font-size: 4rem;
        }
    }

    body {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 720px) {

    .topbar {
        .top-text {
            font-size: 3rem;
        }
    }

    .lorem-form {
        flex-direction: column;
    }

    .theme-btn {
        right: 50%;
        margin-right: -30px; //negative half of width
    }
}