@media screen and (max-width: 1050px) {
    .topbar {
        .top-text {
            font-size: 5rem;
            word-spacing: normal;
        }
    }

    body {
        display: flex;
        flex-flow: column;

        .left-column {
            order: 2;
        }

        .section-center {
            order: 1;
        }

        .right-column {
            order: 3;
        }
    }

    main {
        h3 {
            font-size: 2rem;
        }
    }

}


@media screen and (max-width: 900px) {
    .topbar {
        .top-text {
            font-size: 4rem;
        }
    }

    body {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 720px) {

    .topbar {
        .top-text {
            font-size: 3rem;
        }
    }

    main {
        .lorem-form {
            flex-direction: column;
        }
    }


    .theme-btn {
        right: 50%;
        margin-right: -30px; //negative half of width
    }
}