//fonts
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Jost&family=Poppins&display=swap');
//variables

:root {
  --ff-primary: 'Jost', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  --color-dark-1: #0A1840;
  --color-dark-2: #165F8C;
  --color-light-1: #27B9F2;
  --color-light-2: #30DFF2;
  --color-red: #8C0E03;
  --color-black: #0D0D0D;
  --color-white: white;
  --color-background: #F2F2F2;
  --topbar-height: 8rem;
  --border-radius: 4px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--ff-primary);
  font-size: 2rem;
  background-color: var(--color-background);
  color: var(--color-dark-2);
}

.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-white);
  // background-image: url("img/elcarito-8kPgWovE68k-unsplash.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  height: var(--topbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .top-text {
    color: var(--color-dark-1);
    text-shadow: 0 0 3px var(--color-white);
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    font-size: 6rem;

  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--topbar-height);

}

.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 50rem;
  padding: 0 1.5rem;

}

h3 {
  font-size: 3rem;
  text-align: center;

}

.lorem-text {
  text-align: justify;
}

.lorem-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .btn {
    text-transform: uppercase;
    background: var(--color-dark-2);
    color: var(--color-white);
    border: none;
    padding: 0 6px;
    border-radius: var(--border-radius);
    height: 34px;
    font-size: 1.1rem;
  }

  input {
    height: 32px;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: none;
    width: 3rem;
    font-size: 1.1rem;
    background-color: var(--color-dark-2);
    color: var(--color-white);
    margin: 1rem;
  }
}

@import './media'