//fonts
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Poppins&display=swap');

//variables

:root {
  --ff-primary: 'Flamenco', cursive;
  --ff-secondary: 'Poppins', sans-serif;

  --color-dark-1: #0A1840;
  --color-dark-2: #165F8C;
  --color-light-1: #27B9F2;
  --color-light-2: #30DFF2;
  --color-black: #0D0D0D;
  --color-white: white;
  --color-background: #F2F2F2;
}


body {
  font-family: var(--ff-primary);
  font-size: 2rem;
  background-color: var(--color-background);
  color: var(--color-dark-2);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 50rem;
  padding: auto;

}

h3 {
  font-size: 4rem;
  text-align: center;
  color: var(--color-dark-1);
  
}

.lorem-text {
  text-align: justify;
}
.btn