//fonts
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Poppins&display=swap');

//variables

:root {
  --ff-primary: 'Flamenco', cursive;
  --ff-secondary: 'Poppins', sans-serif;

  --color-1: #011140; 
  --color-2: #031859;
  --color-3: #F2EBDC;
  --color-4: #D9C2A7;
  --color-5: #733D3D;
}


body {
  font-family: var(--ff-primary);
  font-size: 2rem;
  background-color: var(--color-3);
  color: var(--color-1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem;
}