@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Jost&family=Poppins&display=swap");
:root {
  --ff-primary: 'Jost', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --color-main-1: #0A1840;
  --color-main-2: #165F8C;
  --color-secondary-1: #27B9F2;
  --color-secondary-2: #30DFF2;
  --color-contrast: white;
  --color-background: #F2F2F2;
  --color-background-2: #d6d6d6;
  --topbar-height: 8rem;
  --border-radius: 4px;
}

.light-mode {
  --color-main-1: #82a3ea;
  --color-main-2: #a6a4a4;
  --color-secondary-1: #0A1840;
  --color-secondary-2: #165F8C;
  --color-contrast: #27272a;
  --color-background: #152142;
  --color-background-2: #0A1840;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  font-family: var(--ff-primary);
  font-size: 2rem;
  background-color: var(--color-background);
  color: var(--color-main-2);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 9rem;
}

main {
  height: 100%;
  background: linear-gradient(70deg, magenta, cyan);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main .section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2rem;
  min-height: 100%;
}

main h3 {
  font-size: 3rem;
  text-align: center;
}

main .lorem-text {
  text-align: justify;
}

main .lorem-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main .lorem-form .btn {
  text-transform: uppercase;
  background: var(--color-main-2);
  color: var(--color-contrast);
  cursor: pointer;
  border: none;
  padding: 0 6px;
  border-radius: var(--border-radius);
  height: 34px;
  font-size: 1.1rem;
}

main .lorem-form input {
  height: 32px;
  padding-left: 10px;
  border-radius: var(--border-radius);
  border: none;
  width: 3rem;
  font-size: 1.1rem;
  background-color: var(--color-main-2);
  color: var(--color-contrast);
  margin: 1rem;
}

.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-contrast);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.topbar .top-text {
  color: var(--color-main-1);
  text-shadow: 0 0 3px var(--color-contrast);
  text-align: center;
  text-transform: capitalize;
  text-align: center;
  font-size: 6rem;
}

.theme-btn {
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--color-main-2);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all .1s ease-in-out;
}

.theme-btn:active {
  transform: translateY(-3px);
}

.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-contrast);
  pointer-events: none;
}

@media screen and (max-width: 1050px) {
  .topbar .top-text {
    font-size: 5rem;
    word-spacing: normal;
  }
  body {
    display: flex;
    flex-flow: column;
  }
  body .left-column {
    order: 2;
  }
  body .section-center {
    order: 1;
  }
  body .right-column {
    order: 3;
  }
  main h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .topbar .top-text {
    font-size: 4rem;
  }
  body {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .topbar .top-text {
    font-size: 3rem;
  }
  main .lorem-form {
    flex-direction: column;
  }
  .theme-btn {
    right: 50%;
    margin-right: -30px;
  }
}
/*# sourceMappingURL=styles.css.map */