//fonts
@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Jost&family=Poppins&display=swap');
//variables

:root {
  --ff-primary: 'Jost', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  --color-main-1: #0A1840;
  --color-main-2: #165F8C;
  --color-secondary-1: #27B9F2;
  --color-secondary-2: #30DFF2;
  --color-contrast: white;
  --color-background: #F2F2F2;

  --topbar-height: 8rem;
  --border-radius: 4px;
}

.light-mode {
  --color-main-1: #82a3ea;
  --color-main-2: #a6a4a4;
  --color-secondary-1: #0A1840;
  --color-secondary-2: #165F8C;
  --color-contrast: #27272a;
  --color-background: #0A1840;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--ff-primary);
  font-size: 2rem;
  background-color: var(--color-background);
  color: var(--color-main-2);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 9rem 0 6rem 0;

}

.topbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-contrast);
  // background-image: url("img/elcarito-8kPgWovE68k-unsplash.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .top-text {
    color: var(--color-main-1);
    text-shadow: 0 0 3px var(--color-contrast);
    text-align: center;
    text-transform: capitalize;
    text-align: center;
    font-size: 6rem;

  }
}

.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 50rem;
  padding: 0 1.5rem;

}

h3 {
  font-size: 3rem;
  text-align: center;

}

.lorem-text {
  text-align: justify;
}

.lorem-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .btn {
    text-transform: uppercase;
    background: var(--color-main-2);
    color: var(--color-contrast);
    cursor: pointer;
    border: none;
    padding: 0 6px;
    border-radius: var(--border-radius);
    height: 34px;
    font-size: 1.1rem;
  }

  input {
    height: 32px;
    padding-left: 10px;
    border-radius: var(--border-radius);
    border: none;
    width: 3rem;
    font-size: 1.1rem;
    background-color: var(--color-main-2);
    color: var(--color-contrast);
    margin: 1rem;
  }
}

.theme-btn {
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--color-main-2);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all .1s ease-in-out;

  &:active {
    transform: translateY(-3px);
  }

  i {
    font-size: 1.4rem;
    color: var(--color-contrast);
    pointer-events: none;
  }
}

@import './media'